@import "../theme.scss";

.MintingFormTitle {
  font-size: calc(18px + 2rem);
}

.Leader {
  cursor: pointer;
  transition: transform 0.2s;
}
.Leader:hover {
  transform: scale(1.25);
}

.LeaderTitle {
  font-size: calc(12px + 0.75em);
  font-family: "Bangers", cursive;
}

.SelectionForm {
  max-width: 22em;
}

.MintButton {
  font-size: 1.4em;
  display: inline-block;
  border: 0.1em solid $orange;
  border-radius: 0.25em;
  box-sizing: border-box;
  text-decoration: none;
  background-color: $orange;
  color: $light;
  text-align: center;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.MintButton:hover {
  color: $orange;
  background-color: transparent;
}

.MintButton.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #ebad9b;
  border-color: #ebad9b;
}

.PostMintPage {
  table {
    border-collapse: separate;
    border-spacing: 0.05em;

    tbody > tr:last-child > td {
      border-bottom: 0;
    }

    tbody > tr > td {
      vertical-align: middle;
    }
  }
}
