@import "theme.scss";

.App {
  background-color: $light;
  min-height: 100vh;
}

.App-hero {
  font-family: "Bangers", cursive;
}

.App h1 {
  font-family: "Bangers", cursive;
}

.App-cover {
  margin-top: -5.5em;
  margin-bottom: -6.5em;
}

.App-title {
  font-size: calc(12px + 10vmin);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.App-blue-text {
  color: $blue;
}

.App-join-button {
  font-size: calc(12px + 3vmin) !important;
}

.App-timeline {
  border-right: 1px solid black;
}
