@import "theme.scss";

.App {
  background-color: $light;
  min-height: 100vh;
}

.Icon {
  color: $light;
}

.Icon-twitter:hover {
  color: #00acee;
}
.Icon-discord:hover {
  color: #5865f2;
}
.Icon-linkedin:hover {
  color: #0077b5;
}

.List {
  list-style-type: square;
  margin-left: 1.5em;
}
