@import "theme.scss";

body {
  margin: 0;
  background-color: $light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
h1,
h2,
blockquote {
  font-family: "Bangers", cursive;
}

p,
li,
tr {
  font-family: "Lato", sans-serif;
}

.text-blue {
  color: $blue;
}
.text-orange {
  color: $orange;
}

.Game-font {
  font-family: "Bangers", cursive;
}
